* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html,
body {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Recoleta Bold';
  src: url('../fonts/Recoleta-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Recoleta Regular';
  src: url('../fonts/Recoleta-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Recoleta SemiBold';
  src: url('../fonts/Recoleta-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
nav {
  position: fixed;
  background: #2596be;
  color: rgb(255, 255, 255);
  align-items: center;
}
.navbar-brand img {
  height: 5rem;
}
.nav-item {
  margin-left: 2rem;
}

/* Overrides for Bootstrap's navbar-light theme */
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #7cc0d8;
}
.navbar-light .navbar-toggler {
  border-color: #082029;
}
.nav-item a:hover {
  color: #7cc0d8;
}
.btn-outline-contact {
  border-color: white;
  color: white;
}
.btn-outline-contact:hover {
  border-color: #7cc0d8;
}

section {
  text-align: center;
  padding: 50px;
  /*width: 60%;
  margin: 40px 20vw; */
}

/* Welcome */
.welcome-msg {
  margin-top: 100px;
  background: url('../img/header-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-lead-in {
  color: white;
  font-size: 40px;
  text-align: center;
  font-style: italic;
  line-height: 40px;
  margin-top: 200px;
  margin-bottom: 25px;
  font-family: 'Recoleta Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.intro-heading {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 275px;
  font-family: 'Recoleta Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Home */
#home img {
  margin-top: 60px;
}
@media (max-width: 800px) {
  #home img {
    /* margin-top: 100px; */
    width: 100%;
    height: auto;
  }

  .intro-lead-in {
    color: white;
    font-size: 24px;
    text-align: center;
    font-style: italic;
    line-height: 32px;
    margin-top: 200px;
    margin-bottom: 25px;
    font-family: 'Recoleta Regular', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
  }
  .intro-heading {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 275px;
    font-family: 'Recoleta Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}
.section-heading {
  font-size: 4vh;
  font-weight: 700;
  margin-top: 55px;
  margin-bottom: 20px;
  font-family: 'Recoleta Bold';
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.achc-image{
  height:300px;
}
#heart-icon {
  color: white; /* Default color */
  transition: transform 0.3s; /* Add a transition for smoother hover effect */
}

#heart-icon:hover {
  animation: beat 1s infinite; /* Apply the beat animation on hover */
}

#goals-icon {
  color: white; /* Default color */
  transition: transform 0.3s; /* Add a transition for smoother hover effect */
}

#goals-icon:hover {
  animation: beat 1s infinite; /* Apply the beat animation on hover */
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  } /* Scale up at 50% of the animation */
  100% {
    transform: scale(1);
  }
}

/* Services */
section#services {
  background-color: #2596be;
}
h2.section-heading.white-text {
  color: white;
}

.service-heading {
  margin-top: 10px;
  font-family: 'Recoleta SemiBold';
}

.service-heading-goals {
  margin-top: 50px;
  font-family: 'Recoleta SemiBold';
}

/* Cards */
.card-header h2 {
  font-family: 'Recoleta SemiBold';
  padding: 5px;
}

/* Providers */
.team-member {
  margin-bottom: 50px;
  text-align: center;
}
.team-member img {
  width: 225px;
  /* height: 225px; */
  border: 7px solid #fff;
}

/* Contact */
#contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  background-color: #2596be;
  background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}
#contact .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo {
  position: relative;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  position: relative;
  padding: 20px;
  margin-right: 10vw;
  display: flex;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text {
  font-weight: 500;
  color: #212529;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: white;
}
.contactForm h2 {
  font-size: 30px;
  color: #212529;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #212529;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
input:valid ~ span,
textarea:focus ~ span,
textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type='submit'] {
  width: 100px;
  background: #2596be;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.hidden {
  display: none;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  #contact .container {
    flex-direction: column;
    margin: 0 0;
    width: 80vw;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}

/* Services */
.centered-icon {
  position: absolute;
  top: 50%;
  right: 40%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.card:hover .centered-icon {
  opacity: 1;
}
@media (min-width: 800px) {
  .portfolio-img {
    height: 100%;
    object-fit: cover;
  }
}
.portfolio-hover {
  position: absolute;
  width: 100%;
  height: 82%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(37, 150, 190, 0.7);
}
.portfolio-hover:hover {
  opacity: 1;
}
.portfolio-hover .portfolio-hover-content {
  font-size: 40px;
  position: absolute;
  top: 30%;
  width: 100%;
  height: 20px;
  text-align: center;
  color: #fff;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  i {
  margin-top: -12px;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h3,
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h4 {
  margin: 0;
}

/* Modals */
.modal-heading {
  font-size: 4vh;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Recoleta Bold';
}
/* Borrowed */
.portfolio-modal {
  padding-right: 0 !important;
}
.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content button {
  cursor: pointer;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #2596be;
}
.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #2596be;
}
.modal-close-button {
  background-color: #ffffff;
  border-color: black;
  color: black;
}
.modal-close-button:hover {
  background-color: #2596be;
  border-color: #2596be;
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #7cc0d8;
}

.nav-item {
  font-family: 'Recoleta Regular';
}

footer {
  background-color: #ffffff; /* Footer background color */
  padding: 10px;
  text-align: center;
  width: 100%;
}

.footer-content {
  color: #333; /* Footer text color */
}